<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>JavaScript - read JSON from URL</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"></head>
</head>

<body>

<h1>The input element</h1>

<form action="/action_page.php">
  <label for="fname">Name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Sign:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Submit">
</form>

<form action="#" th:action="@{/city}" th:object="${city}" method="post">
    	<p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Message: <input type="text" th:field="*{sign}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

<br>
<p>Click the "Submit" button and the form-data will be sent to a page on the 
server called "action_page.php".</p>

 <h2>Listing Table</h2>

    <table class="data-contacts-js table table-striped" >
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Sign</th>
        </th>
    </table>

    <button id="fetchContacts" class="btn btn-default" type="submit">List</button>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">

        $("#fetchContacts").bind("click", function() {
	        $(".data-contacts-js").children().remove()

            $.get("http://localhost:8080/api/city", function(data) {

                $.each(data, function(i, contact) {

                    $(".data-contacts-js").append(
                        "<tr><td>" + contact.id + "</td>" +
                        "<td>" + contact.title + "</td>" +
                        "<td>" + contact.sign + "</td></tr>");
                });

            });
        });
    </script>

</body>
</html>
