<!DOCTYPE html>

<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <title>Local index menu</title>
  <link rel="stylesheet" href="styles.css">
  <style>
    a {
      display: block;
      background-color: #851616;
      text-decoration: none;
      color: white;
      width: 300px;
      height: 100px;
    }

    a:hover {
      background-color: red;
    }

  </style>
</head>
<body>
  <a href="/insert/city">
    <h1>A link to Cities</h1>
    <p>Insert and listing menu</p>
  </a>
    <a href="/insert/town">
    <h1>A link to Townies</h1>
    <p>Insert and listing menu</p>
  </a>
    <a href="/insert/branch">
    <h1>A link to Branchs</h1>
    <p>Insert and listing menu</p>
  </a>
    <a href="/insert/employee">
    <h1>A link to Employees</h1>
    <p>Insert and listing menu</p>
  </a>
</body>
</html>